<form #loginForm="ngForm" class="modal-content" (ngSubmit)="login()">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="email" placeholder="Enter Username" [class.is-invalid]="username.invalid && username.touched"
            class="form-control" required #username="ngModel" name="uname" [(ngModel)]="user.username" email>
        <span class="loginFormError" *ngIf="username.invalid && username.touched">Please enter the username</span>
        <br/>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [class.is-invalid]="password.invalid && password.touched"
            class="form-control" minlength=8 #password="ngModel" name="psw" [(ngModel)]="user.password" required>
        <span class="loginFormError" *ngIf="password.invalid && password.touched">Please enter the password</span>
        <br />

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
    </div>

    <!-- <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

    <div class="signup">
        <a class="nav-link" href="#" routerLink="signup" routerLinkActive="active">Create Account</a>
    </div> -->
</form>

<simple-notifications></simple-notifications>