<form #orderForm="ngForm" class="modal-content" (ngSubmit)="edit()">
    <div class="container">
        <label for="title"><b>Make</b></label>
        <input type="text" placeholder="Enter Make" name="make"  [(ngModel)]="order.make"  required #make="ngModel">

        <span class="orderFormError" *ngIf="make.invalid && make.touched">Please enter the Make</span>
        <br/>

        <label for="model"><b>Model</b></label>
        <input type="text" placeholder="Enter Model" name="model" [(ngModel)]="order.model" required #model="ngModel">
        <span class="orderFormError" *ngIf="model.invalid && model.touched">Please enter the Model</span>
        <br/>

        <label for="year"><b>Year</b></label>
        <input type="text" placeholder="Enter Year" name="year" [(ngModel)]="order.year" required #year="ngModel">
        <span class="orderFormError" *ngIf="year.invalid && year.touched">Please enter year</span>
        <br/>

        <label for="fuelType"><b>Fuel Type</b></label>
        <input type="text" placeholder="Enter Fuel Type" name="fuelType" [(ngModel)]="order.fuelType" required #fuelType="ngModel">
        <span class="orderFormError" *ngIf="fuelType.invalid && fuelType.touched">Please enter the fule type</span>
        <br/>

        <label for="customerId"><b>Customer Id</b></label>
        <input type="text" placeholder="Enter Customer Id" name="customerId"  [(ngModel)]="order.customerId"  required #customerId = "ngModel">
        <span class="orderFormError" *ngIf="customerId.invalid && customerId.touched">Please enter the customer Id</span>
        <br/>

        <label for="city"><b>City</b></label>
        <input type="text" placeholder="Enter City" name="city" [(ngModel)]="order.city" required #city="ngModel">
        <span class="orderFormError" *ngIf="city.invalid && city.touched">Please enter the City</span>
        <br/>
            
        <button class="btn btn-primary" [disabled]="orderForm.invalid">Edit Book</button>
    </div>
</form>

<simple-notifications></simple-notifications>